<div class="container mt-4">
  <h2 class="text-center text-success mb-4">Historial de Compras</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="!errorMessage && buys.length === 0" class="alert alert-warning">
    No existen compras registradas.
  </div>

  <table
    *ngIf="buys.length > 0"
    class="table table-striped table-bordered text-center"
  >
    <thead class="table-success">
      <tr>
        <th class="text-center" scope="col">ID</th>
        <th class="text-center" scope="col">Fecha</th>
        <th class="text-center" scope="col">Producto</th>
        <th class="text-center" scope="col">Cantidad</th>
        <th class="text-center" scope="col">Precio Unitario</th>
        <th class="text-center" scope="col">Precio Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let buy of buys"></tr>
      <tr *ngFor="let buy of buys">
        <td class="text-center">{{ buy.id }}</td>
        <td class="text-center">{{ buy.date | date : "dd/MM/yyyy" }}</td>
        <td class="text-center">{{ buy.nameProduct}}</td>
        <td class="text-center">{{ buy.quantity }}</td>
        <td class="text-center">{{ buy.unitPrice | currency }}</td>
        <td class="text-center">{{ buy.totalPrice | currency }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <button class="btn btn-success ml-4" (click)="generatePDF()">Generar PDF</button>
  </div>
</div>
