.navbar .btn-login {
  background-color: #ff6600;
  color: white;
  border-radius: 8px;
  padding: 6px 12px;
  transition: 0.3s;
}

.navbar .btn-login:hover {
  background-color: #cc5200;
}

.user-info {
  margin-right: 20px;
}
